logs
project/project
project/target
target
modules/*/target
modules/*/src/main/java
modules/*/src/main/resources
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
